@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'GilroySemiBold';
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: 'GilroyBold';
  src: url(../fonts/Gilroy-Bold.ttf);
}

:root {
  --primary-color: #3671f1;

  --text-color: #fbfbfb;
  --text-secondary-color: #bfbfd4;
  --text-tertiary-color: #7f7f98;

  --background-color: #191a22;
  --background-secondary-color: #1c1d27;
  --background-tertiary-color: #222431;

  --primary-font-regular: 'Gilroy', sans-serif;
  --primary-font-semi: 'GilroySemiBold', sans-serif;
  --primary-font-bold: 'GilroyBold', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  font-size: 16rem;
  font-family: var(--primary-font-regular);
}

.container {
  width: 100vw;
  height: 100vh;
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 13%;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  margin-top: 15px;
}

.welcome-para {
  font-family: var(--primary-font-bold) !important;
  font-size: 38rem;
}

.welcome-text {
  color: var(--text-color);
}

.welcome-logo {
  color: var(--primary-color);
}

.paragraph {
  font-size: 22rem;
  color: var(--text-secondary-color);
  text-align: center;
  margin: 10px 0px;
}

.form-index {
  display: flex;
  margin-top: 15px;
  position: relative;
}

.search-bar-index {
  padding: 16px 18px;
  appearance: none;
  border: none;
  outline: none;
  background: var(--background-secondary-color);
  color: var(--text-secondary-color);
  width: 600px;
  border-radius: 10px;
  font-family: 'GilroySemiBold' !important;
  font-size: 16rem;
  border: 1px solid var(--text-color);
  transition: width 300ms ease-in-out;
}

.search-bar-index:focus {
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  width: 630px;
}

.search-container {
  width: 20px;
  height: 20px;
  background: transparent;
  background-image: url(../img/search-bold.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.opacity-active {
  opacity: 0 !important;
  pointer-events: none !important;
}

.search-btn-index {
  position: absolute;
  appearance: none;
  outline: none;
  border: none;
  background: var(--primary-color);
  width: 34px;
  height: 34px;
  border-radius: 8px;
  cursor: pointer;
  right: 9px;
  top: 9px;
  bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.github-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.github-user {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18rem;
}

.github {
  width: 25px;
  height: 25px;
  background-image: url(../img/github.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/*Forecast CSS*/

.forecast-container {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  position: relative;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  max-height: 700px;
  min-height: 700px;
  opacity: 0;
}

.opacity-forecast {
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

.box1,
.box2,
.box3 {
  background: var(--background-secondary-color);
  border-radius: 12px;
}

.box1 {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 14fr;
  gap: 13px;
  padding: 20rem;
}

.box2 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 25rem;
}

.box3 {
  grid-area: 2 / 2 / -2 / -1;
  padding: 25rem;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
  position: relative;
}

.logo-container-forecast {
  background: var(--background-tertiary-color);
  padding: 15px;
  border-radius: 8px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-forecast-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-forecast {
  width: 100%;
  appearance: none;
  outline: none;
  border: none;
  padding: 14px;
  background: var(--background-tertiary-color);
  border-radius: 8px;
  font-family: 'GilroySemiBold', sans-serif;
  font-size: 16rem;
  position: relative;
}

.search-bar-forecast:focus {
  color: var(--text-color);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.search-btn-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  outline: none;
  border: none;
  position: absolute;
  background: var(--primary-color);
  width: 34px;
  height: 34px;
  border-radius: 6px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.search-icon {
  width: 17px;
  height: 17px;
  background: transparent;
  background-image: url(../img/search-bold.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.current-weather-box {
  background-color: var(--background-tertiary-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: var(--text-color);
}

.current-top {
  display: flex;
  gap: 10px;
  flex: 1;
}

.current-top-left {
  flex: 2;
}

.current-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.location {
  font-size: 20rem;
  font-family: var(--primary-font-bold);
  margin-bottom: 10px;
}

.clock {
  font-family: var(--primary-font-bold);
  font-size: 20rem;
}

.temp {
  font-size: 100rem;
  font-family: var(--primary-font-bold);
}

.min-max-temp {
  font-size: 20rem;
  font-family: var(--primary-font-bold);
}

.temp-flex {
  display: flex;
  gap: 5px;
}

.box-header {
  font-family: var(--primary-font-semi);
  color: var(--text-tertiary-color);
  font-size: 16rem;
}

.weather-details {
  list-style-type: none;
  color: var(--text-secondary-color);
  font-family: var(--primary-font-semi);
  font-size: 14rem;
  margin-top: 15px;
}

.weather-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.border-bottom {
  border-bottom: 1px solid #232431;
}

.detail-icon {
  width: 32px;
  height: 32px;
  opacity: 0.25;
}

#thermalSensationIcon {
  background: url(../img/icons/thermal.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#rainProbabilityIcon {
  background: url(../img/icons/rain.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#windSpeedIcon {
  background: url(../img/icons/wind.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#airHumidityIcon {
  background: url(../img/icons/humidity.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#uvIndexIcon {
  background: url(../img/icons/sun.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.detail-left {
  display: flex;
  align-items: center;
  gap: 22px;
}

.detail-data {
  font-family: var(--primary-font-bold);
  font-size: 16rem;
}

.forecast-daily {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 25rem 0rem;
  font-family: var(--primary-font-semi);
  color: var(--text-secondary-color);
  font-size: 14rem;
}

.day-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15rem;
}

.day-forecast {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.day-flex {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.min-max-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: var(--primary-font-bold);
}

.day-absolute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather-image {
  width: 75rem;
  height: 75rem;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.day-min {
  color: var(--text-tertiary-color);
}

/*Media Queries*/

/*PHONES*/
@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
  .search-bar-container {
    margin-bottom: 100%;
  }
  .form-index {
    width: 100%;
  }
  .search-bar-index {
    width: 100%;
    padding: 12px 14px;
  }
  .search-container {
    width: 32px;
    height: 32px;
    right: 6px;
    top: 6px;
    bottom: 6px;
  }
  .search-bar-index:focus {
    width: 100%;
  }

  .welcome-para {
    font-size: 26rem;
  }
  .paragraph {
    font-size: 16rem;
  }
  .forecast-container {
    padding: 15px;
    align-items: baseline;
  }
  .forecast {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .box1 {
    grid-template-rows: 1fr 7fr;
    padding: 14rem;
  }

  .box2 {
    padding: 25rem 20rem;
  }

  .box3 {
    padding: 25rem 20rem;
    min-height: 250rem;
  }
  .location {
    font-size: 18rem;
  }
  .date {
    font-size: 14rem;
  }
  .clock {
    font-size: 18rem;
  }
  .temp {
    font-size: 60rem;
  }
  .min-max-temp {
    font-size: 18rem;
  }
  .min-max-container {
    flex-direction: column;
  }
  .weather-description {
    display: none;
  }
}

/*TABLETS*/
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets in portrait orientation go here */
}
