<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="WeatherApp Choose a Location to View the Weather Forecast"
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      href="../fonts/Gilroy-Regular.ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      href="../fonts/Gilroy-SemiBold.ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      href="../fonts/Gilroy-Bold.ttf"
      crossorigin="anonymous"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div class="logo-container"></div>
      <div class="search-bar-container">
        <div class="header-text">Welcome to WeatherApp</div>
        <p class="paragraph">Choose a location to view the weather forecast.</p>
        <form action="" id="searchFormIndex" class="form-index">
          <input
            type="text"
            id="searchBarIndex"
            class="search-bar-index"
            placeholder="Search location..."
            autocomplete="off"
            required
          />
          <button
            type="submit"
            id="searchBtnIndex"
            class="search-btn-index"
            aria-label="Search"
          >
            <div class="search-container"></div>
          </button>
        </form>
      </div>
      <div class="github-container">
        <a
          href="https://github.com/stefanbrkic1"
          class="github-user"
          target="_blank"
          >@stefanbrkic1</a
        >
        <div class="github-logo">
          <div class="github"></div>
        </div>
      </div>
    </div>
  </body>
</html>
